.app[data-theme="light"] {
  --text-50: #f1edf8;
  --text-100: #e2dbf0;
  --text-200: #c5b6e2;
  --text-300: #a992d3;
  --text-400: #8c6dc5;
  --text-500: #6f49b6;
  --text-600: #593a92;
  --text-700: #432c6d;
  --text-800: #2c1d49;
  --text-900: #160f24;
  --text-950: #0b0712;

  --background-50: #f0ecf8;
  --background-100: #e0daf1;
  --background-200: #c2b4e4;
  --background-300: #a38fd6;
  --background-400: #8469c9;
  --background-500: #6644bb;
  --background-600: #513696;
  --background-700: #3d2970;
  --background-800: #291b4b;
  --background-900: #140e25;
  --background-950: #0a0713;

  --primary-50: #eee5ff;
  --primary-100: #ddccff;
  --primary-200: #bb99ff;
  --primary-300: #9966ff;
  --primary-400: #7733ff;
  --primary-500: #5500ff;
  --primary-600: #4400cc;
  --primary-700: #330099;
  --primary-800: #220066;
  --primary-900: #110033;
  --primary-950: #09001a;
  --secondary-50: #f0ebf9;
  --secondary-100: #e1d8f3;
  --secondary-200: #c3b1e7;
  --secondary-300: #a58adb;
  --secondary-400: #8763cf;
  --secondary-500: #693cc3;
  --secondary-600: #54309c;
  --secondary-700: #3f2475;
  --secondary-800: #2a184e;
  --secondary-900: #150c27;
  --secondary-950: #0a0614;

  --accent-50: #f0ebf9;
  --accent-100: #e1d7f4;
  --accent-200: #c3b0e8;
  --accent-300: #a488dd;
  --accent-400: #8661d1;
  --accent-500: #6839c6;
  --accent-600: #532e9e;
  --accent-700: #3e2277;
  --accent-800: #2a174f;
  --accent-900: #150b28;
  --accent-950: #0a0614;

  --text-50-rgb: 241, 237, 248;
  --text-100-rgb: 226, 219, 240;
  --text-200-rgb: 197, 182, 226;
  --text-300-rgb: 169, 146, 211;
  --text-400-rgb: 140, 109, 197;
  --text-500-rgb: 111, 73, 182;
  --text-600-rgb: 89, 58, 146;
  --text-700-rgb: 67, 44, 109;
  --text-800-rgb: 44, 29, 73;
  --text-900-rgb: 22, 15, 36;
  --text-950-rgb: 11, 7, 18;

  --background-50-rgb: 240, 236, 248;
  --background-100-rgb: 224, 218, 241;
  --background-200-rgb: 194, 180, 228;
  --background-300-rgb: 163, 143, 214;
  --background-400-rgb: 132, 105, 201;
  --background-500-rgb: 102, 68, 187;
  --background-600-rgb: 81, 54, 150;
  --background-700-rgb: 61, 41, 112;
  --background-800-rgb: 41, 27, 75;
  --background-900-rgb: 20, 14, 37;
  --background-950-rgb: 10, 7, 19;

  --primary-50-rgb: 238, 229, 255;
  --primary-100-rgb: 221, 204, 255;
  --primary-200-rgb: 187, 153, 255;
  --primary-300-rgb: 153, 102, 255;
  --primary-400-rgb: 119, 51, 255;
  --primary-500-rgb: 85, 0, 255;
  --primary-600-rgb: 68, 0, 204;
  --primary-700-rgb: 51, 0, 153;
  --primary-800-rgb: 34, 0, 102;
  --primary-900-rgb: 17, 0, 51;
  --primary-950-rgb: 9, 0, 26;

  --secondary-50-rgb: 240, 235, 249;
  --secondary-100-rgb: 225, 216, 243;
  --secondary-200-rgb: 195, 177, 231;
  --secondary-300-rgb: 165, 138, 219;
  --secondary-400-rgb: 135, 99, 207;
  --secondary-500-rgb: 105, 60, 195;
  --secondary-600-rgb: 84, 48, 156;
  --secondary-700-rgb: 63, 36, 117;
  --secondary-800-rgb: 42, 24, 78;
  --secondary-900-rgb: 21, 12, 39;
  --secondary-950-rgb: 10, 6, 20;

  --accent-50-rgb: 240, 235, 249;
  --accent-100-rgb: 225, 215, 244;
  --accent-200-rgb: 195, 176, 232;
  --accent-300-rgb: 164, 136, 221;
  --accent-400-rgb: 134, 97, 209;
  --accent-500-rgb: 104, 57, 198;
  --accent-600-rgb: 83, 46, 158;
  --accent-700-rgb: 62, 34, 119;
  --accent-800-rgb: 42, 23, 79;
  --accent-900-rgb: 21, 11, 40;
  --accent-950-rgb: 10, 6, 20;
}

.app[data-theme="dark"] {
  --text-50: #0b0712;
  --text-100: #160f24;
  --text-200: #2c1d49;
  --text-300: #432c6d;
  --text-400: #593a92;
  --text-500: #6f49b6;
  --text-600: #8c6dc5;
  --text-700: #a992d3;
  --text-800: #c5b6e2;
  --text-900: #e2dbf0;
  --text-950: #f1edf8;

  --background-50: #0b0613;
  --background-100: #170d26;
  --background-200: #2d194d;
  --background-300: #442673;
  --background-400: #5a3399;
  --background-500: #7140bf;
  --background-600: #8d66cc;
  --background-700: #aa8cd9;
  --background-800: #c6b3e6;
  --background-900: #e3d9f2;
  --background-950: #f1ecf9;

  --primary-50: #09001a;
  --primary-100: #110033;
  --primary-200: #220066;
  --primary-300: #330099;
  --primary-400: #4400cc;
  --primary-500: #5500ff;
  --primary-600: #7733ff;
  --primary-700: #9966ff;
  --primary-800: #bb99ff;
  --primary-900: #ddccff;
  --primary-950: #eee5ff;

  --secondary-50: #0a0614;
  --secondary-100: #150c27;
  --secondary-200: #2a184e;
  --secondary-300: #3f2475;
  --secondary-400: #54309c;
  --secondary-500: #693cc3;
  --secondary-600: #8763cf;
  --secondary-700: #a58adb;
  --secondary-800: #c3b1e7;
  --secondary-900: #e1d8f3;
  --secondary-950: #f0ebf9;

  --accent-50: #0a0614;
  --accent-100: #150b28;
  --accent-200: #2a174f;
  --accent-300: #3e2277;
  --accent-400: #532e9e;
  --accent-500: #6839c6;
  --accent-600: #8661d1;
  --accent-700: #a488dd;
  --accent-800: #c3b0e8;
  --accent-900: #e1d7f4;
  --accent-950: #f0ebf9;

  --text-50-rgb: 11, 7, 18;
  --text-100-rgb: 22, 15, 36;
  --text-200-rgb: 44, 29, 73;
  --text-300-rgb: 67, 44, 109;
  --text-400-rgb: 89, 58, 146;
  --text-500-rgb: 111, 73, 182;
  --text-600-rgb: 140, 109, 197;
  --text-700-rgb: 169, 146, 211;
  --text-800-rgb: 197, 182, 226;
  --text-900-rgb: 226, 219, 240;
  --text-950-rgb: 241, 237, 248;

  --background-50-rgb: 11, 6, 19;
  --background-100-rgb: 23, 13, 38;
  --background-200-rgb: 45, 25, 77;
  --background-300-rgb: 68, 38, 115;
  --background-400-rgb: 90, 51, 153;
  --background-500-rgb: 113, 64, 191;
  --background-600-rgb: 141, 102, 204;
  --background-700-rgb: 170, 140, 217;
  --background-800-rgb: 198, 179, 230;
  --background-900-rgb: 227, 217, 242;
  --background-950-rgb: 241, 236, 249;

  --primary-50-rgb: 9, 0, 26;
  --primary-100-rgb: 17, 0, 51;
  --primary-200-rgb: 34, 0, 102;
  --primary-300-rgb: 51, 0, 153;
  --primary-400-rgb: 68, 0, 204;
  --primary-500-rgb: 85, 0, 255;
  --primary-600-rgb: 119, 51, 255;
  --primary-700-rgb: 153, 102, 255;
  --primary-800-rgb: 187, 153, 255;
  --primary-900-rgb: 221, 204, 255;
  --primary-950-rgb: 238, 229, 255;

  --secondary-50-rgb: 10, 6, 20;
  --secondary-100-rgb: 21, 12, 39;
  --secondary-200-rgb: 42, 24, 78;
  --secondary-300-rgb: 63, 36, 117;
  --secondary-400-rgb: 84, 48, 156;
  --secondary-500-rgb: 105, 60, 195;
  --secondary-600-rgb: 135, 99, 207;
  --secondary-700-rgb: 165, 138, 219;
  --secondary-800-rgb: 195, 177, 231;
  --secondary-900-rgb: 225, 216, 243;
  --secondary-950-rgb: 240, 235, 249;

  --accent-50-rgb: 10, 6, 20;
  --accent-100-rgb: 21, 11, 40;
  --accent-200-rgb: 42, 23, 79;
  --accent-300-rgb: 62, 34, 119;
  --accent-400-rgb: 83, 46, 158;
  --accent-500-rgb: 104, 57, 198;
  --accent-600-rgb: 134, 97, 209;
  --accent-700-rgb: 164, 136, 221;
  --accent-800-rgb: 195, 176, 232;
  --accent-900-rgb: 225, 215, 244;
  --accent-950-rgb: 240, 235, 249;
}
