.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  margin: 0;
  background: rgba(var(--background-100-rgb), 0.5);
  border: 1px solid var(--glass-border);
  border-radius: 12px;
  backdrop-filter: blur(10px) brightness(0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  z-index: 1000;
}

.modal-content {
  
}